#Product {
    width: 353px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

    .imgBox {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 353px;
        display: flex;

        img {
            align-self: center;
        }

        .iconModal {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            background-color: #00000077;
            transition: 0.3s;

            .iconsContainer {
                width: 200px;
                display: flex;
                align-items: center;
                column-gap: 1.5em;
                margin: auto;
                position: absolute;
                top: 60%;
                left: 50%;
                margin-top: -25px;
                margin-left: -100px;
                transition: 0.5s;

                .iconBox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 40px;
                    width: 50px;
                    height: 50px;
                    background-color: #181a1b;
                    cursor: pointer;
                    color: #fff;
                    font-size: 20px;
                    transition: 0.3s;

                    &:hover {
                        background-color: #996700;
                    }
                }
            }
        }

        .discountBox {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            padding: 5px 12px;
            color: white;
            background-color: red;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0.3em;
        }
    }

    .textBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title {
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        .priceBox {
            font-size: 20px;
            display: flex;
            column-gap: 1em;
        }
    }

    &:hover {

        .iconModal {
            visibility: visible;
            opacity: 1;

            .iconsContainer {
                top: 50%;
            }
        }
    }

}